<header>
  <h1>Expense - Edit</h1>
  <h6>Enter the detail for the expense and click "Save"</h6>
</header>

<form (ngSubmit)="editExpense(myForm)" #myForm='ngForm'>
  <label for="date">Date</label>
  <br>
  <input id="date" type="date" [(ngModel)]="expense.editDate" name="editDate" value="{{expense.editDate}}">
  <br>

  <label for="customer-names">Customer</label>
  <br>
  <select id="customer-names" [(ngModel)]="expense.editCustomerName" (ngModelChange)="loadProjects()" name="editCustomerName">
    <option value="{{customer.Name}}" *ngFor="let customer of customers">{{customer.Name}}</option>
  </select>
  <br>

  <label for="project-names">Project</label>
  <br>
  <select id="project-names" [(ngModel)]="expense.editProjectName" name="editProjectName">
    <option value="{{project.Name}}" *ngFor="let project of projects">{{project.Name}}</option>
  </select>
  <br>
</form>