<header>
  <h1>Expense - Edit</h1>
  <h6>Enter the detail for the expense and click "Save"</h6>
</header>

<!-- <p *ngIf="saveError" class="error alert alert-danger" role="alert">
  <i class="fa fa-exclamation-circle"></i>
  {{ saveError }}
</p> -->

<form (ngSubmit)="editExpense(expense._id)">
  <label for="date">Date</label>
  <input id="date" type="date" [(ngModel)]="expense.editDate" name="editDate" value="{{expense.editDate}}">
  <br>

  <label for="customer-names">Customer</label>
  <select id="customer-names" [(ngModel)]="expense.editCustomerName" (ngModelChange)="loadProjects()" name="editCustomerName">
    <option value="{{customer.Name}}" *ngFor="let customer of customers">{{customer.Name}}</option>
  </select>
  <br>

  <label for="project-names">Project</label>
  <select id="project-names" [(ngModel)]="expense.editProjectName" name="editProjectName">
    <option value="{{project.Name}}" *ngFor="let project of projects">{{project.Name}}</option>
  </select>
  <br>

  <label for="name">Name</label>
  <input id="name" class="input " type='text' [(ngModel)]="expense.editName" name="editName" value="{{expense.editName}}">
  <br>

  <label for="amount">Amount</label>
  $
  <input id="amount" class="input" type='number' step="0.01" [(ngModel)]="expense.editAmount" name="editAmount" value="{{expense.editAmount}}">
  <br>

  <label for="description ">Description</label>
  <textarea id="description " rows="4 " name="newDescription" value="{{expense.editDescription}}" [(ngModel)]="expense.editDescription"></textarea>

  <div class="d-block "></div>
  <button type="submit " class="btn d-inline btn-success" (click)="save()">Save</button>
  <button type="submit " class="btn d-inline btn-secondary" (click)="apply()">Apply</button>
  <a [routerLink]="[ '/']">
    <button class="btn d-inline btn-light">Cancel</button>
  </a>
</form>